<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by company"
          [(ngModel)]="company"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchCompany()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Passwords List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let password of passwords; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePassword(password, i)"
        >
          {{ password.company }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPasswords()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-password-details
        [viewMode]="true"
        [currentPassword]="currentPassword"
      ></app-password-details>
    </div>
  </div>